<!DOCTYPE html>
<html>
<body>
	<TABLE BORDER=3 CELLSPACING=3 CELLPADDING=3><TR>
		<TD ALIGN="center" COLSPAN="7">Here is your meal plan for the week!</TD>
	</TR>
	<TR>
		<TD ALIGN="center">Sunday</TD>
		<TD ALIGN="center">Monday</TD>
		<TD ALIGN="center">Tuesday</TD>
		<TD ALIGN="center">Wednesday</TD>
		<TD ALIGN="center">Thursday</TD>
		<TD ALIGN="center">Friday</TD>
		<TD ALIGN="center">Saturday</TD>
	</TR>
	<TR>
		<TD ALIGN="center">mealPlan</TD>
		<TD ALIGN="center">mealPlan</TD>
		<TD ALIGN="center">mealPlan</TD>
		<TD ALIGN="center">mealPlan</TD>
		<TD ALIGN="center">mealPlan</TD>
		<TD ALIGN="center">mealPlan</TD>
		<TD ALIGN="center">mealPlan</TD>
	</TR>
	<TR>
		<TD ALIGN="center">$$$</TD>
		<TD ALIGN="center">$$$</TD>
		<TD ALIGN="center">$$$</TD>
		<TD ALIGN="center">$$$</TD>
		<TD ALIGN="center">$$$</TD>
		<TD ALIGN="center">$$$</TD>
		<TD ALIGN="center">$$$</TD>
	</TR>
	</TABLE>
	<button type="reset" value="Reset">Reset</button>
	