<!DOCTYPE html>
<html>
<body>
	<TABLE BORDER=3 CELLSPACING=3 CELLPADDING=3><TR>
		<TD ALIGN="center" COLSPAN="7">Here is your meal plan for the week!</TD>
	</TR>
	<TR>
		<TD ALIGN="center">Sunday</TD>
		<TD ALIGN="center">Monday</TD>
		<TD ALIGN="center">Tuesday</TD>
		<TD ALIGN="center">Wednesday</TD>
		<TD ALIGN="center">Thursday</TD>
		<TD ALIGN="center">Friday</TD>
		<TD ALIGN="center">Saturday</TD>
	</TR>
	<TR>
        <TD ALIGN="center">{{ meal_plan.0 }}</TD>
        <TD ALIGN="center">{{ meal_plan.1 }}</TD>
        <TD ALIGN="center">{{ meal_plan.2 }}</TD>
        <TD ALIGN="center">{{ meal_plan.3 }}</TD>
        <TD ALIGN="center">{{ meal_plan.4 }}</TD>
        <TD ALIGN="center">{{ meal_plan.5 }}</TD>
        <TD ALIGN="center">{{ meal_plan.6 }}</TD>
	</TR>
	<TR>
        <TD ALIGN="center">${{ meal_costs.0 }}</TD>
        <TD ALIGN="center">${{ meal_costs.1 }}</TD>
        <TD ALIGN="center">${{ meal_costs.2 }}</TD>
        <TD ALIGN="center">${{ meal_costs.3 }}</TD>
        <TD ALIGN="center">${{ meal_costs.4 }}</TD>
        <TD ALIGN="center">${{ meal_costs.5 }}</TD>
        <TD ALIGN="center">${{ meal_costs.6 }}</TD>
	</TR>
	</TABLE>
    <form action={% url 'reset' %} method="post">
        {% csrf_token %}
        <input type="submit" value="Reset"></input>
    </form>

