<!DOCTYPE html>
<html lang="en">
<head>
	<title>Bitcamp Food Recipe Input Website </title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<!-- Bootstrap -->
    	<link href="assets/css/bootstrap-responsive.css" rel="stylesheet" media="screen">
</head>
<body>
	<div class="row-fluid">
		<div class="span12">
		<h1 ALIGN ="center">Welcome to PeterPantry.</h1>
			<form action="demo_form.asp" method="post">
				<p>Choose your favorite food theme!</p>
					<input type="radio" name="foodType1" value="Chinese"> Chinese<br>
					<input type="radio" name="foodType1" value="Latin"> Latin<br>
					<input type="radio" name="foodType1" value="Mediterranian"> Mediterranian 
				<p>Choose your second favorite food theme!</p>
					<input type="radio" name="foodType2" value="Chinese"> Chinese<br>
					<input type="radio" name="foodType2" value="Latin"> Latin<br>
					<input type="radio" name="foodType2" value="Mediterranian"> Mediterranian<br>
				<p>Choose your third favorite food theme!</p>
					<input type="radio" name="foodType3" value="Chinese"> Chinese<br>
					<input type="radio" name="foodType3" value="Latin"> Latin<br>
					<input type="radio" name="foodType3" value="Mediterranian"> Mediterranian<br>
				<p>Type in a weekly budget in US dollars ($)!</p>
					<input type="text" name="budget"><br>
				<button type="submit" value="Submit">Submit</button>
			</form>
	</div>
</body>
				