<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">


        <title>Bitcamp 2016 Input Page</title>

        <!-- Bootstrap core CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <link href="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js">

        <link href='https://fonts.googleapis.com/css?family=Raleway' rel="stylesheet" type="text/css">
        <style> *{
font-family:'Raleway', sans-serif;
src:url(https://fonts.googleapis.com/css?family=Raleway);
        }
        </style>
        <style>
        .floating-box {
             display: inline-block;
                width: 150px;
                height: 10px;
                margin: 10px;
            }
        </style>
    </head>

    <body>

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">PeterPantry</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                </div><!--/.navbar-collapse -->
            </div>
        </nav>
        <div class="jumbotron">
            <div class="container">
                <h1>Welcome to PeterPantry!</h1>
                <p>We'll create a weekly meal plan for you based on your favorite cuisine and weekly budget!</p>
                <div class="floating-box">Balance:{{ curr_budget }}</div>
            </div>
        </div>

        <form action={% url 'select' %} method="post">
            {% csrf_token %}
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h2>Choose your favorite cuisine!</h2>
                        <input type="radio" name="p1" value="Chinese"> Chinese<br>
                        <input type="radio" name="p1" value="Latin"> Latin<br>
                        <input type="radio" name="p1" value="Mediterranean">Mediterranean
                    </div>
                    <div class="col-md-4">
                        <h2>Choose your second favorite cuisine!</h2>
                        <input type="radio" name="p2" value="Chinese"> Chinese<br>
                        <input type="radio" name="p2" value="Latin"> Latin<br>
                        <input type="radio" name="p2" value="Mediterranean"> Mediterranean<br>
                    </div>
                    <div class="col-md-4">
                        <h2>Choose your third favorite cuisine!</h2>
                        <input type="radio" name="p3" value="Chinese"> Chinese<br>
                        <input type="radio" name="p3" value="Latin"> Latin<br>
                        <input type="radio" name="p3" value="Mediterranean"> Mediterranean<br>
                    </div>
                </div>
                <br><p>What percentage of your bank account do you want to allocate towards a meal plan?</p>
                <input type="text" name="percent"><br>
                <br><button type="submit" value="Submit">Submit</button>
                <hr>
        </form>


        <footer>
            <p>&copy; 2016 THEMETHINATORS.INC</p>
        </footer>
            </div> <!-- /container -->


            <!-- Bootstrap core JavaScript
                ================================================== -->
                <!-- Placed at the end of the document so the pages load faster -->
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
                <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>

                <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

    </body>
</html>
